# MONOGO DB
MONGODB_URI=mongodb+srv://lqdev:mPPW1vWximqcusjn@lqclustermaster.gts5o.mongodb.net/nodeauthchallenge

#  SESSION 
SESSION=h@ppyW33ked@2024

# TOKENIZER ENCYPT
ENCRYPTION_KEY=LYtvGWGLkgixNMkBWhaoIog7dkfYKqJj
